@model TriangleAreaSolver // This line specifies that the model for this view is of type TriangleAreaSolver, which will be used to bind data and perform operations related to solving the area of a triangle.
<h1>Welcome to the Triangle Area Solver</h1>

<div asp-validation-summary="All"></div>
<form asp-action="index" method="post">
    <div>
        <label for="Base">Side A:</label>
        <input type="number" asp-for="Base" step="any" /> @*This creates an input field *@
        <br />
        <label for="Height">Side B:</label>
        <input type="number" asp-for="Height" step="any" /> @*This creates an input field*@
        <br />
        <button type="submit">Calculate Triangle Area</button>
        <br />
        <label>TriangleArea:</label>
        <input value="@ViewBag.TriangleArea?.ToString()" readonly /> @*This creates an input field *@

        
        
    </div>
</form>
